section.checker-section
    .container.stack
        h3#try-it
            span Is this number even or odd?
        .row
            .col-md-6
                p
                    label(for="number") Your number goes here

                label.speech.border-left
                        textarea.number-input#number(name="number" placeholder="69")

            .col-md-6
                p.text-right The result comes out here
                div#out.speech.right odd
