section
    .container
        .row
            .col-sm-12.stack
                h1.
                    is-even is-odd, but <i>this time it's an API</i>
                p.
                    We've all seen the is-even and is-odd packages on npm,
                    but can you really call yourself a 10x developer if you're not
                    using all the APIs™?