section
    .container
        .row
            .col-sm-12.stack
                h1.
                    is-even is-odd, but <i>as a service</i>
                p.
                    We've all seen the is-even and is-odd packages on npm,
                    but can you really call yourself a 10x developer if you're not
                    using as many services and APIs as possible?

                p.
                    Feel free to try it out below. Alternatively you can also use the
                    API and become a 10x developer instantly