.container.stack
    h3
        span Making a Request

    p Make a <code>GET</code> request to <code>`https://api.spaceburrito.xyz/evenorodd/{number}`</code>

    pre
        code.double
            :highlight(lang="javascript")
                fetch('https://api.spaceburrito.xyz/evenorodd/69').then(function(res) {
                    console.log(res.numberType);
                    // odd
                });

    <br /><br />
